<td-layout-manage-list opened="true" mode="side">
  <mat-toolbar td-sidenav-content>{{titulo}}</mat-toolbar>
  <div td-sidenav-content>
    <mat-nav-list>
      <a *ngFor="let item of rotas" routerLink="{{item.rota}}" mat-list-item>
        <mat-icon>{{item.icone}}</mat-icon>{{item.titulo}}
      </a>
    </mat-nav-list>
  </div>
  <mat-toolbar>
    Content Title
  </mat-toolbar>
  <router-outlet></router-outlet>
</td-layout-manage-list>
